 <!doctype html>
<html>
 <head>
   <title>Create offer</title>
   <link rel="stylesheet" href="/stylesheets/common.css">
   <link rel="stylesheet" href="/stylesheets/create.css">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <script src="/javascripts/TokenManager.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 </head>
 <body>
   <%- include('header.html'); -%>
   <div id="container">
     <h3>Fill the data to create a new offer</h3>
     <button id="connectBtn" onclick="connect(displayConnected)">Connect to MetaMask</button>

     <form id="creationForm" name="creationForm" action="/create" method="post" >
       <label for="item">What object is it ?</label><br>
       <input type="text" id="item" name="item" value="" required minlength="3" maxlength="30"><br>

       <label for="desc">Tell us more about it's condition, the brand, how many years it have been used...</label><br>
       <input type="text" id="desc" name="desc" value="" required minlength="3" maxlength="30"><br>

       <label for="photo">Photo</label><br>
       <input type="file" id="photo" name="photo" value=""><br>

       <label for="price">Renting price per month</label><br>
       <input type="number" id="price" name="price" value="0" required min="0" max="1000"><br>

       <label for="name">Your name</label><br>
       <input type="text" id="name" name="name" value="" required minlength="3" maxlength="30"><br>
       <input type="button" id="submitBtn" value="Submit !" onclick="checkFormAndSubmit()">
     </form>

     <p id="error" >hey</p>
   </div>
   <%- include('footer.html'); -%>
   <script>
     ethereum.on('accountsChanged', (chainId) => {
       connect(displayConnected);
     });

     function checkFormAndSubmit(){
       if(isValidForm()){
         connect(function(){//Callback function, i.e. when connected
           mintToken();
           sendForm(accountAddr);
         });
       }
     }

    function sendForm(accAddr){
      let formData = $("#creationForm").serialize();
      formData = formData + "&accountAddr=" + accAddr;

      //Submit Form
      $.post("create", formData, function (data) {console.log("Successfully sent !");});
      $("#submitBtn").prop("value", "Perfect :)");
      $("#submitBtn").prop("disabled", true);
    }


    function isValidForm(){
      let valid = true;
      document.getElementById("error").innerHTML = "";
      document.getElementById("error").style.display = 'none';

      let obj = document.getElementById("item").value;
      if(obj.length < 1){document.getElementById("error").innerHTML = "The object's name is too short."; valid = false;}
      else if(obj.length > 30){document.getElementById("error").innerHTML = "The object's name is too long."; valid = false;}

      error = document.getElementById("error").innerHTML;
      let desc = document.getElementById("desc").value;
      if(desc.length < 1){document.getElementById("error").innerHTML = error + "<br>The description is too short."; valid = false;}
      else if(desc.length > 30){document.getElementById("error").innerHTML = "<br>The object's name is too long."; valid = false;}

      error = document.getElementById("error").innerHTML;
      let price = document.getElementById("price").value;
      if(price.length < 1){document.getElementById("error").innerHTML = error + "<br>The price is too low."; valid = false;}
      else if(price.length > 5){document.getElementById("error").innerHTML = error + "<br>The price is too high."; valid = false;}

      error = document.getElementById("error").innerHTML;
      let name = document.getElementById("name").value;
      if(name.length < 1){document.getElementById("error").innerHTML = error + "<br>Your name is too short."; valid = false;}
      else if(name.length > 30){document.getElementById("error").innerHTML = error + "<br>Your name is too long."; valid = false;}

      if(!valid){
        document.getElementById("error").style.display = 'block';
      }
      return valid;
    }

    function displayConnected(){
      document.getElementById("connectBtn").disabled = true;
      document.getElementById("connectBtn").innerHTML = "Connected !";
    }

   </script>
 </body>
</html>
