body {
  padding: 50px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: #b33c00;
}

#header{
  background-color: #33cccc;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  text-align: center;
  padding-bottom: 5px;
}


#footer{
  background-color: #33cccc;
  margin-top: auto;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: small;
  margin-top: 5em;
  flex: 0 0 50px;/*or just height:50px;*/
  margin-top: auto;
}

button, input[type=button] {

  /* remove default behavior */
  appearance:none;
  -webkit-appearance:none;

  /* usual styles */
  padding:10px;
  border:none;
  background-color:#3F51B5;
  color:#fff;
  font-weight:600;
  border-radius:5px;
  width:100px;
}

button:disabled, input[type=button]:disabled {
  background-color: #b3b3cb;
}
