table, th, td {
  border: 4px solid black;
  border-color: #33cccc;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
}

#rightPane{
  float:right;
  padding-top: 30px;
}

#tables{
  float:left;
}
